html, body {
	margin: 0;
	padding: 0;
  }
  canvas {
	display: block;
  }
  
.container {
	display: flex;
	height: 100vh;
}

.controls {
	width: 380px;
	padding: 20px;
	background: #111;
	color: white;
	font-family: sans-serif;
	display: flex;
	flex-direction: column; 
	justify-content: space-between;
	gap: 10px;
}

.label {
	color: white;
	font-size: 14px;
}

.topcontrols{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.selector{
	width: 50%;
}

.gridcontrols{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.caption-input{
	height: 50px;
	resize: vertical;
}

.bottom-controls{
	display: flex;
	gap: 5px;
	height: 80%;
}

.button{
	width: 100%;
} 

button{
	background: black;
	color: white;
	padding: 10px;
	border: 2px solid white;
	border-radius: 10px;
	cursor: pointer;
}

.canvas-wrapper{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f0f0f0;
}


.canvas{
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	background: white;
}

@media screen and (min-width: 500px) {
	.container {
		flex-direction: column-reverse;
	}

	.canvas-wrapper{
		height:100%;
	}

	.controls {
		width: 97vw;
	}

	.label {
		font-size: 20px;
	}
}