@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
	font-family: 'HoonIceTea';
	src: url('../fonts/1HoonIcetea_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  

:root {

	/* Colors */
	--color-text: #3E3832; 
  	--color-offwhite: #FFFAF1;
	--color-controls: #D9CECC;

	/* Fonts */
	--title-font: "HoonIceTea", sans-serif;
	--title-font-weight: 400;
	--title-font-style: normal;
	--body-font: "Outfit", sans-serif;
	--body-font-weight: 400;
	--body-font-style: normal;
	--body-font-size: 0.875rem;

  /* Other */
  --border-style: 2px dashed black;
  --transition: 0.3s ease-in-out;  
}


html, body {
	margin: 0;
	padding: 0;
	font-family: var(--body-font);
  }


/* -------- MODAL -------- */
.modal {
	display: none; 
	position: fixed;
	z-index: 9999;
	padding-top: 80px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
	transition: opacity 0.3s ease;
  }

  h1 {
	margin: 1rem;
	font-family: var(--title-font);
	font-size: calc(var(--body-font-size)* 3);
  }
  
  footer{
	margin-top: 2rem;
	font-size: calc(var(--body-font-size)* .8);
  }

  .modal-content {
	background-color: var(--color-offwhite);
	color: var(--color-text);
	margin: auto;
	padding: 1rem;
	border-radius: 20px;
	width: 90%;
	max-width: 700px;
	position: relative;
	text-align: center;
	transform: scale(1);
	animation: none;
  }

  .modal.show .modal-content {
	animation: bounceIn 0.6s;
  }

  @keyframes bounceIn {
	0% {
	  transform: scale(0.5);
	  opacity: 0;
	}
	50% {
	  transform: scale(1.03);
	  opacity: 1;
	}
	70% {
	  transform: scale(0.9);
	}
	100% {
	  transform: scale(1);
	}
  }

  .modal-content p {
	margin-bottom: 0.5rem;
	padding: 0.5rem;
  }


  .modal-pic img {
	width: 90%;
	height: auto;
	margin: 1rem;
  }

  
  .close-button {
	color: #aaa;
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
  }
  
  .modal-trigger {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 9999;
	padding: 10px 20px;
	border: none;
	background-color: var(--color-text);
	color: var(--color-offwhite);
	font-size: 14px;
	/* border-radius: 50%; */
	cursor: pointer;
	width: auto;
	height: auto;
	font-family: var(--title-font);
	font-size: 1.5rem;
  }  

  .modal {
	display: none;
	/* ...other styles... */
}

.modal.show {
	display: block;
}

.modal.show .modal-content {
	animation: bounceIn 0.6s;
}

@keyframes bounceOut {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	20% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0.3);
		opacity: 0;
	}
}

.modal.hide .modal-content {
	animation: bounceOut 0.6s forwards;
}


  
  #open-modal-btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 0;
	margin: 0;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-text);
	color: var(--color-offwhite);
	border: none;
	cursor: pointer;
	line-height: 1;
  }
  

  #open-export-btn {
	width: auto;

	bottom: 20px;
	top: auto; /* override modal-trigger */
	right: 20px;
	position: fixed;
	width: auto;
	background-color: var(--color-text);
	color: var(--color-offwhite);
	border-radius: 10px;
	padding: 10px 20px;
	cursor: pointer;
	z-index: 9999;
	font-size: 2rem;
	font-family: var(--title-font);
}

#copied-msg {
	margin-left: 10px;
	color: green;
	display: none;
	font-weight: 500;
  }

  #share-link {
	display: none; 
  }

@media screen and (max-width: 600px) {
	#open-export-btn {
	  display: none;
	}

	.tab-content:last-child{
		align-items: center;
		justify-items: center;
		height: 25vh;
		justify-content: space-evenly;
	  }
	
  }

#final-controls-wrapper{
	display: flex;
	flex-direction: column-reverse;
	margin-top: 2rem;
	gap: 1rem;
	align-items: center;
}


/* -------- GENERATOR -------- */
  
.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}


.canvas-wrapper{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f0f0f0;
	height:30%;
}


.canvas{
	display: block;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	background: white;
	transform: scale(0.45);
	/* max-height: 100%; */
	/* width: 100%; */
	/* height: 70vh; */
	/* margin: 1rem; */
}



.controls {
	width: 100vw;
	padding: 0.5rem;
	background: var(--color-controls);
	color: var(--color-text);
	display: flex;
	flex-direction: column; 
	justify-self: center;
	/* align-items: center; */
	gap: 3em;
	/* justify-content: space-around; */
	/* gap: 10px; */
	/* height: 70vh; */
	font-family: "Outfit", sans-serif;
	height: 50vh;
}

.tab-icon {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
  }
  

.tab-buttons {
	display: flex;
	gap: 0.5rem;
	font-size: 1.5rem;
	/* margin-bottom: 10px; */
  }
  
  .tab-button {
	background: var(--color-offwhite);
	color: var(--color-text);
	padding: 5px;
	height: 50px;
	width: auto;
	/* border: 2px solid #3E3832; */
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
	transition: all 0.2s ease;
  }

  .tab-button:last-child{
	width: 100px;
	padding: 0.5rem;
	background: var(--color-text);
	color: var(--color-offwhite);
	/* background: rgb(25, 125,190);
	color: var(--color-offwhite); */
	font-family: var(--title-font);
  }
  
  .tab-button:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	transform: translateY(-2px);
  }
  
  .tab-button:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tab-button.active {
	background: #8a837c;	
	color: var(--color-offwhite);
  }

  .tab-button.active img {
	filter: brightness(0) invert(1); 
}
/* 
.tab-button {
  position: relative;
}

.tab-button::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222;
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 999;
}

.tab-button:hover::after {
  opacity: 1;
} */

  
  .tab-content {
	display: none;
  }
  
  .tab-content.show {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
  }


  .tab-content{
	padding-left: 0.15rem;
	padding-right: 0.15rem;
  }

  
  .tab-content p{
	margin-bottom: 10px;
  }

  .tab-content input{
	margin-bottom: 10px;
  }


   .input-row {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 10px;
	/* margin-bottom: 10px; */
  }

  .input, .caption-input {
	width: 100%;
	border-radius: 5px;
	background-color: white;
	color: black;
	padding: 0.3rem;
	height: 40px;
  }


  .caption-input::placeholder, .input::placeholder{
	opacity: 50%;
	font-size: var(--body-font-size);
  }

  .block-row{
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	/* gap: auto; */
	/* justify-content: space-evenly; */
  }

  #block1, #block2, #block3, #block4{
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin-bottom: 1rem; */
  }

  /* #block1, #block2{
	margin-bottom: 1rem;
  } */

  select{
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: 0.5rem;
  }

  /* reference for styling arrow for select: https://codepen.io/vkjgr/pen/VYMeXp?editors=0110 */
  /* reset.css erased default styles and removed the dropdown arrow altogether*/
  .selector{
	background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  }

  /* reference for styling color picker: https://codepen.io/radiantsunrise08/pen/QWzJRbo */
  input[type="color" i] {
	/* margin-top: 3px; */
	border-radius: 50%;
	inline-size: 60px;
	block-size: 60px;
	padding: 4px;
	background: white;
  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(153, 153, 153);
  cursor: pointer;
  }

  input[type="color" i]::-webkit-color-swatch-wrapper {
	padding: 1px;
  }
  
  input[type="color" i]::-webkit-color-swatch {
	border-radius: 50%;
  }
  
  input[type="color" i]::-moz-color-swatch {
	border-radius: 50%;
  }

 

  /* input[type="color" i] {
	border-radius: 20%;
  } */


.label {
	color: var(--color-text);
	font-size: var(--body-font-size);
	align-self: center;
}

input[type="range" i] {
    /* appearance: auto; */
	appearance: none;
	background: var(--color-offwhite);
	height: 1rem;
	border-radius: 50px;
  
    cursor: default;
    /* color: light-dark(rgb(16, 16, 16), rgb(255, 255, 255)); */
    padding: initial;
    border: initial;
    margin: 2px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none; 
	appearance: none;
	background-color: var(--color-text);
	border: solid 4px var(--color-offwhite);
	border-radius: 100px;
	height: 2.5rem;
	width: 2.5rem;
	cursor: grab;    
 }

 #sliderz{
	/* grid-template-columns: none; */
	gap: 25px;
	width: 100%;
 }

 textarea.input{
	height: 85px;
	resize: vertical;
 }
/* .topcontrols{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.selector{
	width: 50%;
} 
/* 

.gridcontrols{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
} */

.caption-input{
	height: 50px;
	resize: vertical;
}

/* .bottom-controls{
	display: flex;
	gap: 5px;
	height: 80%;
} */


button{
	background: var(--color-offwhite);
	color: var(--color-text);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
	padding: 10px;
	/* border: 2px solid white; */
	border-radius: 10px;
	cursor: pointer;
	/* width: 200px; */
	width: auto;
	/* width: 100px; */
	/* margin-bottom: 1rem; */
	text-align: center;
	cursor: pointer;
	transition: var(--transition);
}

button:hover{
	transform: scale(1.05);
}

 

@media screen and (min-width: 600px) {

	.container{
		flex-direction: row-reverse;
	}

	.canvas-wrapper{
		height: 100%;
		width: 70vw;
	}

	.canvas{
		transform: scale(1);
		/* height: 100%; */
	}

	.controls {
		width: 30vw;
		height: 100vh;
		padding:1rem;
		gap: 1rem;
	}

	h1 {
		font-size: calc(var(--body-font-size)* 4);
	  }
	  
	  footer{
		font-size: calc(var(--body-font-size)* .8);
	
	  }
	  .modal-content {
		padding: 3rem;
	  }
	
	  .modal-content p {
		margin-bottom: 0.5rem;
		padding: 0.5rem;
	  }
	
	
	  .modal-pic img {
		width: 60%;
		height: auto;
		margin: 1rem;
	  }


	.tab-buttons{
		font-size: 1rem;
		width: 100%;
		height: 5vh;
	}

	.tab-button{
		height: 40px;
		padding-left: 1rem;
		padding-right: 1rem;
	}


	.tab-button:last-child{
		/* width: auto; */
		/* padding:2rem; */
		background: var(--color-offwhite);
		color: var(--color-text);
		/* background: rgb(25, 125,190);
		color: var(--color-offwhite); */
		font-family: var(--body-font);
	  }

	  .tab-button.active {
		background: #8a837c;	
		color: var(--color-offwhite);
	  }
	  
	/* .tab-content{
		margin-top: 1rem;
	} */

	/* .tab-buttons{
		height: auto;
	} */

	/* .tab-buttons {
		display: none;
	  }
	 */
	  /* .tab-content {
		display: block !important;
	  } */

	  /* .input-row{
		margin-bottom: 3rem;
	  } */

	  .block-row{
		display: flex;
		justify-content: space-evenly;
		padding: 0;
		gap: 1rem;
		/* margin-bottom: 3rem; */
	  }

	  .block-row p{
		text-align: center;
	  }

	  input[type="color" i] {
		inline-size: 40px;
		block-size: 40px;
		padding: 2px;
	  }

	  .canvas-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 0rem;
	  }

	  #carddesign-controls {
		height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	#message-controls{
		padding-top: 1rem;
	}

	  /* .message-block{
		margin-bottom: 3rem;
	  }
	   */
	  /* #insidecanvas{
		margin-top: -10rem;
	  } */


	input[type="range"]::-webkit-slider-thumb {
		height: 2rem;
		width: 2rem;    
	}

	#block1, #block2, #block3, #block4{
		margin-bottom: 0;
	}
	  
	.modal-trigger {
		top: 20px;
		right: 20px;
	}
}